
# DAY 2 Assignment

# List

In [6]:
lst = [2,3,4,5,6,'RAm']

In [7]:
lst

[2, 3, 4, 5, 6, 'RAm']

In [9]:
lst.append('Lucky')

In [10]:
lst

[2, 3, 4, 5, 6, 'RAm', 'Lucky', 'Lucky']

In [11]:
lst.index(5)

3

In [12]:
lst.reverse()

In [13]:
lst

['Lucky', 'Lucky', 'RAm', 6, 5, 4, 3, 2]

In [14]:
lst.pop()

2

In [18]:
lst.count('Lucky')

2

# Sets

In [28]:
set = {2,1,4,3,6,5,'praveen','apoorv'}

In [29]:
set

{1, 2, 3, 4, 5, 6, 'apoorv', 'praveen'}

In [31]:
set.add('Anmol')

In [32]:
set

{1, 2, 3, 4, 5, 6, 'Anmol', 'apoorv', 'praveen'}

In [1]:
set2 = {8,7,10,12, 9 , 'pankaj'}

In [2]:
set2

{10, 12, 7, 8, 9, 'pankaj'}

In [7]:
set3 = set.difference(set2)

In [8]:
print(set3)

{7, 8, 9, 10, 12, 'pankaj'}

In [26]:
set2.update(["vikas"])

In [27]:
set2

{10, 12, 7, 8, 9, 'pankaj', 'vikas'}

In [30]:
set2.remove("pankaj")

In [31]:
set2

{10, 12, 7, 8, 9, 'vikas'}

# Tuples

In [34]:
tp = ("BMW" , "Honda" , "Kia")

In [35]:
tp

('BMW', 'Honda', 'Kia')

In [36]:
tp.index("Honda")

1

In [37]:
tp.index("BMW")

0

In [38]:
tp.count("Kia")

1

In [39]:
tp.count("BMW")

1


# String

In [55]:
str = ("Hello world")

In [56]:
str

'Hello world'

In [58]:
str.upper()

'HELLO WORLD'

In [59]:
str.lower()

'hello world'

In [64]:
str.replace("H", "b")

'bello world'

In [70]:
str.split(" ,  ")

['Hello world']

In [71]:
str.isupper()

False

In [75]:
str.isdecimal()

False

In [76]:
str.isnumeric()

False

In [77]:
str.isprintable()

True

In [78]:
str.istitle()

False


# Dictionary

In [79]:
dit = {"Brand" : "Honda"
      , "Model" : "HondaCity"
      , "year" : '2010'}

In [80]:
dit

{'Brand': 'Honda', 'Model': 'HondaCity', 'year': '2010'}

In [83]:
dit.get("year")

'2010'

In [84]:
dit.get("Model")

'HondaCity'

In [85]:
dit.items()

dict_items([('Brand', 'Honda'), ('Model', 'HondaCity'), ('year', '2010')])

In [86]:
dit.keys()

dict_keys(['Brand', 'Model', 'year'])

In [87]:
dit.popitem()

('year', '2010')

In [98]:
dit.values()

dict_values(['Honda', 'HondaCity'])